*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}

body{
    background-color: rgb(199, 177, 207);
}

main{
    background-color: azure ;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(85, 82, 82);
}
h1{
    color: blueviolet;
    font-size: 30px;
}
iframe.video{
    width: 500px;
}